<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruby.new_project2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".week_2_day_5.Main12Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".day_3_project.Main4Activity" />
        <activity android:name=".day_2.Main2Activity" />
        <activity android:name=".day_3.Main3Activity" />
        <activity android:name=".day_4.Main6Activity" />
        <activity android:name=".week_2_day_2.Main9Activity" />
        <activity android:name=".day_4.List_View" />
        <activity android:name=".day_4.Main5Activity" />
        <activity android:name=".day_4.ButtonForListView" />
        <activity android:name=".day_5.Main7Activity" />
        <activity android:name=".day_3.Splash" />

        <service android:name=".week_2_day_1.MyService" />

        <activity android:name=".week_2_day_1.Main8Activity" />

        <receiver android:name=".week_2_day_2.AlarmReceiver" />

        <activity android:name=".week_2_day_2.Fragment" />
        <activity android:name=".day_1.MainActivity" />
        <activity android:name=".week_2_day_4.Main11Activity" />
        <activity android:name=".week_2_day_4.AllDetails" />
        <activity android:name=".week_2_day_3.api_call_activity.Main10Activity" />
        <activity android:name=".week_2_day_5.Main13Activity"></activity>
    </application>

</manifest>